version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - run:
          command: python -m venv myvirtualenv
          name: Create virtualenv
      - run:
          command: ./myvirtualenv/bin/pip install -r requirements.txt
          name: Install dependencies
      - run:
          command: ./myvirtualenv/pytest
          name: Test
      - run:
          command: ./myvirtualenv/flake8
          name: Lint

  deploy-lambda-function:
    executor: python/default
    steps:
      - checkout
      - run:
          command: python -m venv myvirtualenv
          name: Create virtualenv
      - run:
          command: ./myvirtualenv/bin/pip install -r requirements.txt
          name: Install dependencies
      - run:
          command: ./myvirtualenv/bin/zappa update production
          name: Deploy lambda function


workflows:
  main:
    jobs:
      - build-and-test
      - deploy-lambda-function:
         requires:
           - build-and-test
         filters:
            branches:
              only:
                - master

