version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: python -m pytest
          name: Test
      - run:
          command: python -m flake8
          name: Lint

  deploy-lambda-function:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: zappa update production
          name: Deploy lambda function


workflows:
  main:
    jobs:
      - build-and-test
      - deploy-lambda-function:
         requires:
           - build-and-test
         filters:
            branches:
              only:
                - master

