version: 2.1

jobs:
  build-and-test:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          command: python -m venv myvirtualenv
          name: Create virtualenv
      - run:
          command: ./myvirtualenv/bin/pip install -r requirements.txt
          name: Install dependencies
      - run:
          command: ./myvirtualenv/bin/pytest
          name: Test
      - run:
          command: ./myvirtualenv/bin/flake8
          name: Lint

  deploy-lambda-function:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          command: |
            mkdir -p ~/.aws &&
            echo "[default]" >> ~/.aws/credentials &&
            echo "aws_access_key_id = $AWS_ACCESS_KEY_ID" >> ~/.aws/credentials &&
            echo "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials &&
            echo "region = eu-central-1" >> ~/.aws/credentials
          name: Create aws profile file
      - run:
          command: python -m venv myvirtualenv
          name: Create virtualenv
      - run:
          command: ./myvirtualenv/bin/pip install -r requirements.txt
          name: Install dependencies
      - run:
          command: source myvirtualenv/bin/activate && zappa update production
          name: Deploy lambda function


workflows:
  main:
    jobs:
      - build-and-test
      - deploy-lambda-function:
         requires:
           - build-and-test
         filters:
            branches:
              only:
                - master

